<div class="container full-page-container">
  <div class="row h-500 justify-content-center align-items-center">
    <div class="text-center fadeIn animated">
      <img class="img-fluid" [ngStyle]="{ height: '300px', width: 'auto' }" src="assets/icons/1200px-Calli.svg.png" />
      <p class="calli-heading display-4">Calliapp</p>
      <h2 class="mat-h3 text-success">Casa del aprendizaje y la razón.</h2>
      <h3>¿Eres Nuevo en Calliapp?</h3>
      <button mat-button class="btn btn-success mb-2" [routerLink]="['register']">
        Regístrate
      </button>
      <h3>O, si ¿Ya tienes una cuenta?</h3>
      <button class="btn btn-info" [routerLink]="['login']">
        Entrar
      </button>
    </div>
  </div>
</div>
