<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <ng-content></ng-content>
        <p> {{ quiz.title }} </p>
      </mat-panel-title>
      <mat-panel-description>

        <p>id: {{ quiz.id }}</p>
        <p>priority: {{quiz.priority}} </p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- content -->
    <p>firestore ID: {{ quiz.fsId }}</p>
    <p>real-time Database ID: {{quiz.key}} </p>
    <p> {{ quiz.description }} </p>
    <div class="questions" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="questionDrop($event)">
      <div class="inner-card" cdkDrag *ngFor="let question of quiz.questions; let i = index"
        (click)="openDialog(question, i)">
        <p>{{i}}</p>
        <mat-card [ngClass]="question.label"> {{ question.questionText }} </mat-card>
      </div>

      <button mat-stroked-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <calli-delete-button (delete)="handleDelete()"></calli-delete-button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
