<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between top">
  <h2>{{ data.isNew ? 'Crear' : 'Modificar' }} Información del curso</h2>
  <mat-icon mat-button (click)="onNoClick()" [mat-dialog-close]>close</mat-icon>
</div>
<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field class="d-block" appearance="outline">
      <mat-label for="name">Nombre</mat-label>
      <input type="text" #name matInput formControlName="name" required>
      <mat-error *ngIf="name && name.invalid && (name.dirty || name.touched)">Se requiere este campo.</mat-error>
    </mat-form-field>

    <mat-form-field class="d-block" appearance="outline">
      <mat-label for="description">Descripción</mat-label>
      <textarea type="text" #description formControlName="description" matInput required></textarea>
      <mat-error *ngIf="description && description.invalid && (description.dirty || description.touched)">Se requiere
        este campo.</mat-error>
    </mat-form-field>
    <mat-form-field class="d-block" appearance="outline">
      <mat-label for="description">Encabezado descripción</mat-label>
      <textarea type="text" #description formControlName="description" matInput required></textarea>
      <mat-error *ngIf="description && description.invalid && (description.dirty || description.touched)">Se requiere
        este campo.</mat-error>
    </mat-form-field>

    <mat-form-field class="d-block" appearance="outline">
      <mat-label for="section">Sección</mat-label>
      <input type="text" formControlName="section" #section matInput required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-button [mat-dialog-close]="data">Save</button>
  </div>
</form>
