@import "assets/themes/custom-theme.scss";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
}
calli-root {
  min-height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  background-color: #ffffff;
}
mat-toolbar {
  height: 50px !important;
  background-color: #ffffff;
}
.mat-toolbar-multiple-rows {
  min-height: 50px;
  height: 50px !important;
}
mat-toolbar > .mat-toolbar-multiple-rows {
  min-height: 50px;
  height: 50px !important;

}
mat-toolbar > .mat-toolbar-row {
  height: 50px!important;
  max-height: 50px!important;
}

/*This is important for the toolbar shadow*/
calli-header {
  position: relative;
  top: 0;
  width: 100%;
}


calli-welcome {
  background-color: #ffffff;
}

/*  footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: inherit;
} */
footer-absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.full-page-container {
  height: calc(100vh - 114px);
}


