<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between top">
  <h2>{{ data.isNew ? 'Crear' : 'Modificar' }} Cuestionario</h2>
  <mat-icon mat-button [mat-dialog-close]>close</mat-icon>
</div>
<p>{{data.quiz.id}}</p>
<div mat-dialog-content>
  <mat-form-field class="d-block" appearance="outline">
    <mat-label>Título</mat-label>
    <input placeholder="title" matInput [(ngModel)]="data.quiz.title" />
  </mat-form-field>
  <mat-form-field class="d-block" appearance="outline">
    <mat-label>Descripción</mat-label>
    <textarea placeholder="Description" matInput [(ngModel)]="data.quiz.description"> </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    {{ data.isNew ? 'Crear' : 'Modificar' }}
  </button>
</div>
