<div class="jumbotron">
  <div fxLayout="row" fxLayoutAlign="left">
    <div>
      <img class="img-fluid" [ngStyle]="{ height: '110px', width: 'auto' }" src="assets/images/calli.png" />
    </div>
    <div>
      <p class="display-4 app-name">
        Bienvenido
      </p>
      <p class="mat-h1 text-black-50">
        Explora la app
      </p>
    </div>
  </div>
</div>
<div class="px-5 py-3">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let item of cardItems">
      <mat-card [class.mat-elevation-z4]="false" class="mb-2" fxFlex="0 1 calc(33.3% - 10px)"
        fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
        <mat-card-header>
          <img mat-mat-card-avatar [ngStyle]="{ height: '100px', width: 'auto' }" src="{{item.imageUrl}}">
          <mat-card-title>
            {{ item.title }}
          </mat-card-title>
          <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </ng-container>
  </div>
</div>
