<mat-card>
  <mat-card-header>
    <mat-card-title>{{course.name}}</mat-card-title>
    <mat-card-subtitle>{{course.section}}</mat-card-subtitle>
  </mat-card-header>
  <!--   <img matCardImage src="Card wide image source">
 -->
  <mat-card-content>
    Descripción: {{course.descriptionHeading}}<br>
    Id: {{course.id}}<br>
    Id del propietario{{course.ownerId}}<br>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="onEdit()">editar</button>
    <button mat-button (click)="onDelete()">delete</button>
  </mat-card-actions>
  <mat-card-footer>
    Footer
  </mat-card-footer>
</mat-card>
