<mat-expansion-panel [class.mat-elevation-z10]="panelOpenState" (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>{{course.name}}</b>
    </mat-panel-title>
    <mat-panel-description>
      {{course.id}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- content -->
  <p>Id: {{course.id}}</p>
  <p>Descripción: {{course.descriptionHeading}}</p>
  <p>Encabezado descripción: {{course.descriptionHeading}}</p>
  <p>Id del propietario: {{course.ownerId}}</p>
  <div class=" items-align-right">
    <button mat-button (click)="onTeachers(course.id)">maestros</button>

    <button mat-button (click)="onEdit()">editar</button>
    <button mat-button (click)="onDelete()">delete</button>
  </div>
</mat-expansion-panel>
