<header>
  <calli-header fxLayout="row" fxLayoutAlign="space-between stretch" [deviceXs]="deviceXs" [user]="user$ | async"
    [isLoggedIn]="isLoggedIn$ | async" [isLoading]="isLoading$ | async" [isAdmin]="isAdmin$ | async"
    (logout)="onLogout($event)"></calli-header>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer [ngClass]="{'footer-absolute': (isLoggedIn$ | async) || (isLoading$ | async)}">
  <calli-footer [deviceXs]="deviceXs" [isLoggedIn]="isLoggedIn$ | async"> </calli-footer>
</footer>
